
<div class="container">
  <h1 class="text-center">Pokedex 4G</h1>
  <div class="row">
    <div class="col-3" *ngFor="let indexPkmn of index">
      <img class="img-fluid"
           src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{indexPkmn}}.png"
      >
    </div>
  </div>
</div>
