

<div class="container">
  <h1 class="text-center">Pokedex 3G</h1>
  <div class="row">
    <div class="col-3" *ngFor="let i of pokeindex">
      <img class="img-fluid" src="{{baseurl}}{{i}}{{suffix}}" />
    </div>
  </div>
</div>
