
<div class="container">
  <h1 class="text-center">Pokedex 1G</h1>
  <div class="row">
    <div class="col-3" *ngFor="let poke of listPoke">
      <img class="img-fluid" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{poke}}.png" alt="">
    </div>
  </div>
</div>



