
<div>
  <ul class="list-unstyled">
    <li>
      <a routerLink="/mypoke">Kanto</a>
    </li>
    <li>
      <a routerLink="/johto">Johto</a>
    </li>
    <li>
      <a routerLink="/hoenn">Hoenn</a>
    </li>
    <li>
      <a routerLink="/gen-4">Sinnoh</a>
    </li>
  </ul>
</div>

<div>
  <router-outlet></router-outlet>
</div>
