
<div class="container">
  <h1 class="text-center">Pokedex 2G</h1>
  <div class="row">
    <div class="col-3" *ngFor="let id of ids">
      <img class="img-fluid" src="{{base_url}}{{id}}.png">
    </div>
  </div>
</div>

